.max-height {
    min-height: 100vh;
  }
  body {
    background-color: #e0f7fa;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: url('fondo6.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  .quote-container {
    background: rgba(255, 255, 255, 0.5);
  }
  #generate-btn {
    color: white !important;
    background: lightslategray !important;
    border-color: lightslategray !important;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
  #generate-btn:hover {
    background: lightblue !important;
    border-color: #b09e99 !important;
    color: blue !important;
  }
  h3 {
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.9); 
}
